.venv
__pycache__/sender_stand_request.cpython-311.pyc
__pycache__/configuration.cpython-311.pyc
__pycache__/create_user_test.cpython-311-pytest-8.4.1.pyc
__pycache__/sender_stand_request.cpython-311.pyc
.idea